.board {
	width: 100%; /* Total horizontal dimensions */
}

.board:before {
  content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.column.tile {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.column.tile:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}